# Database Configuration
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=library
DB_SSLMODE=disable

# Migrations Configuration
MIGRATIONS_DIR=./migration

# Server Configuration
PORT=8080

# JWT Configuration
JWT_SECRET=your-secret-key-here

# Admin credentials
ADMIN_EMAIL=admin@library.com
ADMIN_PASSWORD=admin123
